@font-face {
    font-family: "iconfont"; /* Project id 1552860 */
    src: url('//at.alicdn.com/t/font_1552860_5o58903pcyr.woff2?t=1632810768656') format('woff2'),
         url('//at.alicdn.com/t/font_1552860_5o58903pcyr.woff?t=1632810768656') format('woff'),
         url('//at.alicdn.com/t/font_1552860_5o58903pcyr.ttf?t=1632810768656') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weibo1:before {
    content: "\e79e";
  }
  
  .icon-qq:before {
    content: "\e646";
  }
  
  .icon-weixin:before {
    content: "\e73b";
  }
  
  .icon-bilibili4:before {
    content: "\e8ad";
  }
  
  .icon-bilibili3:before {
    content: "\e8af";
  }
  
  .icon-youxiang:before {
    content: "\e774";
  }
  
  .icon-youxiang1:before {
    content: "\e908";
  }
  
  .icon-weibo2:before {
    content: "\e647";
  }
  
  .icon-xiaochengxu:before {
    content: "\e61a";
  }
  
  .icon-weixin02:before {
    content: "\e856";
  }
  
  .icon-weibo:before {
    content: "\e666";
  }
  
  .icon-QQ1:before {
    content: "\e667";
  }
  
  .icon-xiaochengxu2:before {
    content: "\e648";
  }
  
  .icon-xiaochengxu1:before {
    content: "\e62d";
  }
  
  .icon-bilibili2:before {
    content: "\e601";
  }
  
  .icon-bilibili:before {
    content: "\e649";
  }
  
  .icon-bilibili1:before {
    content: "\e600";
  }
  
  .icon-wexin01:before {
    content: "\e65e";
  }
  