.indexBox {
    &> div{
        margin-bottom: 30px;
    }
    .picCards {
        // display: flex;
        // justify-content: space-around;
        width: 100%;
        overflow: hidden;

        .cardItem {
            width: 30%;
            position: relative;

            .el-card__body {
                padding: 0;
            }

            .image {
                width: 100%;
                height: 100%;
            }

            .cardInfo {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all 0.3s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                }

                div {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                }

                span {
                    display: block;
                    color: #fff;
                    height: 24px;
                    line-height: 24px;
                    text-align: left;
                    padding: 0 20px 5px;
                }

                .title {
                    font-size: 14px;
                }

                .desc {
                    font-size: 12px;
                }
            }
        }

        .cardItem{
            // display: inline-block;
            float: left;
            border-radius: 10px;
        }
        .cardItem:nth-child(1){
            width:49%;
            height:300px;
        }
        .cardItem:nth-child(2){
            width:49%;
            margin-left: 2%;
            height:145px;
        }
        .cardItem:nth-child(3){
            width:49%;
            margin-left: 2%;
            height:145px;
            margin-top: 10px;
        }
    }

    .articalCards {
        // border-top: 1px solid #f00;

        .cardItem .el-card__body {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .image {
            width: 86px;
        }

        .cardInfo {
            flex-grow: 1;
            width: 0;

            span {
                text-align: left;
            }
        }
    }
}