$border:#ddd;

.layout {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	.main {
		min-height: calc(100vh - 50px);
	}
}

.el-header {
	height: 20px !important;
}

.el-main {
	overflow: auto;
	padding: 0 10px !important;
}

.mainCont {
	height: calc(100vh - 60px);
}

.menuBox {
	width: 240px !important;
	// border-right: 1px solid $border;
}

.messageBox {
	width: 280px !important;
	// border-left: 1px solid $border;
}

// .el-header{
// 	border-bottom: 1px solid $border;
// }
.el-footer {
	color: $border;
	// border-top: 1px solid $border;
}