$border:#eee;
$cont:#555;

.relative {
    width: 100%;

    // .essay{
    //     border:1px solid #ccc;
    //     width: 100%;
    //     min-height:20px;
    // }
    // .record{
    //     // border:1px solid #f00;
    //     width: 100%;
    //     min-height:20px;
    // }
    &>.item {
        padding: 10px;
        margin-bottom: 20px;
        line-height: 36px;
        text-indent: 10px;
        text-align: left;
        border-bottom: 1px solid #f0f0f0;
        color: $cont;

        &:last-child {
            border: none;
        }

        .title {
            border-bottom: 1px solid $border;
            color: #888;
        }

        ul {
            padding: 20px 0 12px;
        }
    }
}